body{
    background-image:url('../imgs/index.bg.jpg') ;
    font-family: 'Nunito Sans', sans-serif;
}
h2{
    color: #D4D4D2;
}h1{
    margin-block-start: 0em; 
    color: white;
}
.input_area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input{
    height: 1.5em;
}
textarea{
    width: 100%;
    margin-top: 2em;
}
.container{
    margin-top: 60px;
    background-color: #1C1C1C;
    display: inline-flex;
    padding: 1.5em;
    border-radius: 0.5em;
    flex-direction: column;
    align-items: center;
    width: 25em;
}

.area{
    display: flex;
    justify-content: center;
}

button{
    font-size: 20px;
    height: 3em;
    width: 90%;
    background-color: #FF9500;
    border: none;
    color: rgb(22, 22, 22);
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    background-color:#aa6300 ;
}